@font-face {
  font-family: "Styrene B";
  src: url("fonts/StyreneB-Regular-Trial-BF63f6cbe9db1d5.otf") format("opentype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Styrene B";
  src: url("fonts/StyreneB-Bold-Trial-BF63f6cbe9f13bb.otf") format("opentype");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "GT America Mono";
  src: url("fonts/GT-America-Mono-Medium-Trial.otf") format("opentype");
  font-weight: 500;
  font-style: normal;
}

body {
  font-family: "Styrene B", sans-serif;
  background-color: #202C1C;
  color: #ffffff;
}

.top-bar {
  background-color: #f1cece72;
  height: 4rem;

  display: flex;
  align-items: center;
}

.top-bar-inner {
  width: 100%;
  padding: 0 2.25rem 3rem;

  font-size: 0.9rem;

  display: flex;
  align-items: center;
  justify-content: space-between;
}

.top-bar-inner a{
  font-family: 'Questrial', Arial, Helvetica, sans-serif;
  color: #433732;
  margin-top: 2.5rem;
}

.header-title {
  margin-left: 1rem;
}

.header-paragraph {
  margin-left: 1rem;
}

section {
  margin-bottom: 1.5rem;
  margin-left: 0.2rem;
  margin-right: 0.2rem;
}

.element {
  padding: 2rem;
  border: 0.15rem solid #a77c78;
  background-color: #f1cece33;
  border-radius: 0.8rem;

  max-width: 48rem;
  margin: 0 auto;
  line-height: 1.6;
}

.element p {
  margin-bottom: 1.2rem;
}

.element ul {
  margin: 1rem 0 1.5rem 0;
  padding-left: 1.2rem;
  list-style: none;
}

.element ul li {
  position: relative;
  margin-bottom: 0.5rem;
  font-size: 1rem;
}

.element ul li::before {
  content: "–";
  position: absolute;
  left: -1rem;
  color: #FAD867;
}

.element img {
  display: block;
  width: 100%;
  max-width: 42rem;
  height: auto;
  margin: 2rem auto 0 auto;
  border-radius: 0.5rem;
  border: 0.08rem solid #ffffff40;
}

h1 {
  font-family: "Styrene B", sans-serif;
  font-size: 60px;
  font-weight: 700;
  margin: 0;
}

h2 {
  font-family: "Styrene B", sans-serif;
  font-size: 40px;
  font-weight: 400;
  color: #785141;
  margin: 0;
}

h3 {
  font-family: "Styrene B", sans-serif;
  font-size: 30px;
  font-weight: 400;
  margin: 0;
}

h4.mono {
  font-family: "GT America Mono", monospace;
  font-size: 18px;
  font-weight: 500;
  color: #1E40FF;
}

p {
  font-family: "Styrene B", sans-serif;
  font-size: 18px;
  font-weight: 400;
}

/* h1 {
    font-size: 2rem;
}

h2 {
  font-size: 1.7rem;
  margin-top: 3rem;
  margin-left: 1rem;
}

h3 {
  font-size: 1.4rem;
  margin-top: 1rem;
  font-family: "Helvetica", sans-serif;
}

h4 {
  font-size: 1rem;
  margin-bottom: 0.25rem;
} */

h5 {
  font-size: 0.8rem;
}

/* p {
  font-size: 0.8rem;
  max-width: 50rem;
  width: 100%;
} */

ol, li {
  font-family: "Arial", sans-serif;
  font-size: 0.9rem;
}

.imageLink img {
  width: 20rem;
  height: 20rem;
  object-fit: cover;
  display: block;
}


.additional-description {
  margin-left: 1rem;
}

code {
  color: #433732;
  background-color: #EEE;
  padding: 0.5rem;
  display: block;
}

.form-field {
  margin-top: 1rem;
}

.form-field label {
  font-weight: bold;
}

.text-input {
  width: 100%;
  max-width: 10rem;
  padding: 0.5rem 0.6rem;
  border: 1px solid #ffffff;
  border-radius: 0.2rem;
}

.text-input:hover {
  border-color: #A77C78;
}

.text-input:focus {
  border-color: #0077ff;
  box-shadow: 0 0 3px rgba(0, 119, 255, 0.5);
  outline: none;
}

nav a:hover, nav a:focus {
  text-decoration: none;
}

.inTextLink {
  color: #FAD867;
  text-decoration: underline;
  transition: color 0.2s ease, background-color 0.2s ease; 
}

.inTextLink:hover,
.inTextLink:focus {
  color: #ffffff;
  background-color: #FAD867;
  text-decoration: none;
  outline: none;
}

.imageLink:hover img {
  box-shadow: 0 0 10px 8px #FAD867;
}

.imageLink:focus img {
  box-shadow: none;
  opacity: 0.7;
  transform: scale(1.03);
}

/* 
  INTERACTIVE ELEMENTS -------------------
*/

/* 
  TEXT ELEMENTS -------------------
*/




/* 
  COMBINED ELEMENTS -------------------
*/

.home-logo-img img,
.cart-logo-img img {
  width: 1.9rem;
  height: 1.9rem;
}

.main-nav {
  display: flex;
  align-items: center;
  gap: 1.5rem;
  color: #433732;
}

.main-nav a {
  text-decoration: none;
  font-size: 1rem;
  color: #433732;
  transition: color 0.3s ease;
}

.main-nav a:hover {
  text-decoration: underline;
  transition: color 0.3s ease;
}

.main-nav a:focus {
  text-decoration: none;
  font-weight: 700;
  transition: color 0.3s ease;
}

.main-nav a img {
  transition: all 0.3s ease;
  border-bottom: 3px solid transparent;
}

.main-nav a img:hover {
  border-bottom:1px solid #433732;
}

.main-nav a img:active {
  transform: scale(1.4);
  border-bottom: none;
}

.main-nav-tutorial {
  margin-top: 3rem;
}

.products-container {
  display: flex;
  gap: 1.5rem;
  justify-content: center;
  flex-wrap: wrap;
}

.products-container article {
  width: 10rem;
  text-align: center;
  border: 0.08rem solid #ffffff81;
  padding: 1rem;
  border-radius: 0.5rem;
  background-color: #85625f7d;
}

.product-name {
  margin-left: -0.3rem;
}

.product-listing-img img {
  width: 100%;
  height: 12rem;
  object-fit: cover;
  display: block;
}

.product-listing-img:hover img {
  box-shadow: 0 0 10px 8px rgba(255, 223, 175, 0.5);
}

.product-listing-img:focus img {
  box-shadow: none;
  opacity: 0.7;
  transform: scale(1.03);
}

.product-price {
  margin-bottom: 1rem;
}





.cart article {
  margin-bottom: 1rem;
  display: flex;
  gap: 3rem;
  align-items: center;

  border: 0.08rem solid #ffffff81;
  background-color: #85625f7d;
  padding: 1rem;
  border-radius: 0.5rem;
}

.product-image {
  display: block;
  width: 8rem;
  height: 8rem;

  flex-shrink: 0;

  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.product-image.strawberry {
  background-image: url("../Romantic_Strawberry_Cake.png");
}

.product-image.cherry-blossom {
  background-image: url("../Cherry_Blossom_Girl_Cake.png");
}

.cart-summary {
  max-width: 26rem;
  margin-left: auto;
  padding: 1.5rem;

  border: 0.08rem solid #ffffff81;
  border-radius: 0.6rem;
  background-color: #75605f;
}

.summary-row {
  display: flex;
  justify-content: space-between;
  margin-bottom: 0.75rem;

  font-size: 0.9rem;
}

.summary-row.total {
  margin-top: 1rem;
  padding-top: 0.75rem;
  border-top: 0.08rem solid #ddd;

  font-size: 1.1rem;
  font-weight: 600;
}

.button-nav {
  display: inline-block;
  padding: 0.5rem;
  color: #433732;
  background-color: #FFF;
  border-radius: 0.2rem;
  text-decoration: none;
  transition-property: background-color; 
  transition-duration: 0.5s;
  font-size: 0.9rem;
  outline: none;
}

.button-nav:hover, .button-nav:focus {
  background-color: #fad867;
}

.button-nav.product.viewing {
  font-size: 0.8rem;
  text-align: center;
}

.form-field {
  display: flex;
  flex-wrap: wrap;
  gap: 1.2rem;
}

.form-field-upper {
  height: 3rem;
  max-width: 20rem;
  margin-left: 1rem;
  padding: 0.3rem 1.2rem 1.2rem 1.2rem;

  border: 0.08rem solid #ffffff81;
  border-radius: 0.6rem;
  background-color: #75605f;
}

.form-field-under {
  margin-top: 1rem;
  max-width: 20rem;
  margin-left: 1rem;
  margin-bottom: 3rem;
  padding: 1.5rem;

  border: 0.08rem solid #ffffff81;
  border-radius: 0.6rem;
  background-color: #85625f7d;
}

.form-group {
  flex: 0 0 25%;
  display: flex;
  flex-direction: column;
  row-gap: 0.2rem;
}

.form-group label {
  margin-bottom: 0.3rem;
  font-weight: 500;
  font-size: 0.9rem;
  color: #333;
}

#combined_elements .element {
  max-width: 48rem;
  margin: 0 auto;
  line-height: 1.6;
}

#combined_elements .element p {
  margin-bottom: 1.2rem;
}

#combined_elements ul {
  margin: 1rem 0 1.5rem 0;
  padding-left: 1.2rem;
  list-style: none;
}

#combined_elements ul li {
  position: relative;
  margin-bottom: 0.5rem;
  font-size: 1rem;
}

#combined_elements ul li::before {
  content: "–";
  position: absolute;
  left: -1rem;
  color: #FAD867;
}

#combined_elements img {
  display: block;
  width: 100%;
  max-width: 42rem;
  height: auto;
  margin: 2rem auto 0 auto;
  border-radius: 0.5rem;
  border: 0.08rem solid #ffffff40;
}

.text-input:focus {
  border-color: #0077ff;
  box-shadow: 0 0 3px rgba(0, 119, 255, 0.5);
}

.additional-description {
  margin-left: 1rem;
}

.potential-imagery {
  margin-left: 1rem;
}

.fixed-image {
  width: 28rem;
  height: 10rem;
  object-fit: cover;
  display: block;
  margin-left: 1rem;
}

.fixed-image.font {
  width: 29rem;
  height: 9rem;
}

.fixed-image.tall {
  width: 33rem;
  height: 27rem;
}


@media (max-width: 60rem) {
    .top-bar {
        height: 2rem;
    }

    .top-bar-inner {
        font-size: 0.7rem;
    }

    .header-title {
        font-size: 1.7rem;
        margin-left: 0.7rem;
    }

    .header-paragraph {
        font-size: 0.8rem;
        margin-left: 0.7rem;
    }

    section {
      margin-bottom: 1.2rem;
      margin-left: 0.1rem;
      margin-right: 0.1rem;
    }

    .element {
      padding: 1rem;
      border-radius: 0.8rem;
    }

    h1 {
        font-size: 1.7rem;
    }

    h2 {
      font-size: 1.4rem;
      margin-top: 2.5rem;
      margin-left: 0.7rem;
    }

    h3 {
      font-size: 1.2rem;
      margin-top: 0.7rem;
    }

    h4 {
      font-size: 0.9rem;
      margin-bottom: 0.15rem;
    }

    h5 {
      font-size: 0.7rem;
    }

    p {
      font-size: 0.6rem;
      max-width: 40rem;
      width: 100%;
    }

    ol, li {
      font-size: 0.7rem;
    }

    .home-logo-img img,
    .cart-logo-img img {
      width: 1.5rem;
      height: 1.5rem;
    } 

    .main-nav {
      gap: 1.2rem;
    }

    .main-nav a {
      font-size: 0.8rem;
    }

    .products-container article {
      width: 8rem;
      height: 16.5rem;
      padding: 0.8rem;
      border-radius: 0.4rem;
    }

    .product-listing-img img {
      width: 100%;
      height: 8.5rem;
    }

    .cart article {
      margin-bottom: 0.7rem;
      gap: 2.5rem;

      padding: 0.8rem;
      border-radius: 0.4rem;
    }

    .product-listing-img {
      width: 6.5rem;
      height: 6.5rem;
    }

    .cart-summary {
      max-width: 22rem;
      padding: 1.2rem;

      border-radius: 0.5rem;
    }

    .summary-row {
      margin-bottom: 0.65rem;
      font-size: 0.759rem;
    }

    .summary-row.total {
      margin-top: 0.85rem;
      padding-top: 0.65rem;
      font-size: 0.9rem;
    }

    .form-field-upper {
      height: 2.5rem;
      max-width: 18rem;
      margin-left: 0.7rem;
      padding: 0 1rem 1rem 1rem;
      border-radius: 0.5rem;
    }

    .form-field-under {
      margin-top: 1rem;
      max-width: 18rem;
      margin-left: 0.7rem;
      margin-bottom: 2.5rem;
      padding: 1.2rem;
      border-radius: 0.5rem;
    }

    .form-group {
      row-gap: 0.1rem;
    }

    .form-group label {
      margin-bottom: 0.2rem;
      font-size: 0.8rem;
    }

    .text-input-payment {
      padding: 0.4rem 0.6rem;
      border-radius: 0.4rem;
      font-size: 0.8rem;
      margin-bottom: 0.4rem;
    }

  }

@media (max-width: 40rem) {
    .top-bar {
        height: 1.5rem;
    }

    .top-bar-inner {
        font-size: 0.5rem;
    }

    section {
      margin-bottom: 1rem;
      margin-left: 0.05rem;
      margin-right: 0.05rem;
    }

    .element {
      padding: 0.7rem;
      border-radius: 0.8rem;
    }

    h1 {
        font-size: 1.5rem;
    }

    h2 {
      font-size: 1.2rem;
      margin-top: 2.2rem;
      margin-left: 0.4rem;
    }

    h3 {
      font-size: 1rem;
      margin-top: 0.5rem;
    }

    h4 {
      font-size: 0.8rem;
      margin-bottom: 0.15rem;
    }

    h5 {
      font-size: 0.7rem;
    }

    p {
      font-size: 0.6rem;
      max-width: 30rem;
      width: 100%;
    }

    ol, li {
      font-size: 0.6rem;
    }

    .home-logo-img img,
    .cart-logo-img img {
      width: 1.2rem;
      height: 1.2rem;
    } 

    .main-nav {
      gap: 0.8rem;
    }

    .main-nav a {
      font-size: 0.68rem;
    }

    .products-container article {
      width: 6rem;
      padding: 0.6rem;
      border-radius: 0.3rem;
    }

    .products-container article {
      width: 7rem;
      height: 14.6rem;
      padding: 0.6rem;
      border-radius: 0.4rem;
    }

    .product-listing-img img {
      width: 100%;
      height: 7rem;
    }

    .cart article {
      margin-bottom: 0.7rem;
      gap: 2.5rem;

      padding: 0.8rem;
      border-radius: 0.4rem;
    }

    .product-listing-img {
      width: 6.5rem;
      height: 6.5rem;
    }

    .cart-summary {
      max-width: 22rem;
      padding: 1.2rem;

      border-radius: 0.5rem;
    }

    .summary-row {
      margin-bottom: 0.65rem;
      font-size: 0.759rem;
    }

    .summary-row.total {
      margin-top: 0.85rem;
      padding-top: 0.65rem;
      font-size: 0.9rem;
    }

    .form-field-upper {
      height: 2.5rem;
      max-width: 18rem;
      margin-left: 0.7rem;
      padding: 0 1rem 1rem 1rem;
      border-radius: 0.5rem;
    }

    .form-field-under {
      margin-top: 1rem;
      max-width: 18rem;
      margin-left: 0.7rem;
      margin-bottom: 2.5rem;
      padding: 1.2rem;
      border-radius: 0.5rem;
    }

    .form-group {
      row-gap: 0.1rem;
    }

    .form-group label {
      margin-bottom: 0.2rem;
      font-size: 0.8rem;
    }

    .text-input-payment {
      padding: 0.4rem 0.6rem;
      border-radius: 0.4rem;
      font-size: 0.8rem;
      margin-bottom: 0.4rem;
    }

}
